/*************************************************************Defualt Css****************************************************/
/******************************************************************** Fonts Open ********************************************************************/
/*************** Gandhi Fonts Open ******************/
@font-face {
    font-family: 'GeorgiaRegular';
    src: url('georgia.eot');
    src: url('georgia.eot') format('embedded-opentype'),
         url('georgia.woff') format('woff'),
         url('georgia.ttf') format('truetype'),
         url('georgia.svg#GeorgiaRegular') format('svg');
}
/*************** Gandhi Fonts Close ******************/
/******************************************************************** Fonts Close ********************************************************************/