@charset "utf-8";
/* CSS Document */
/*************** Black Bg Open ******************/
.black-bg{
	background:#2d2d2d;
}
.black-bg ul{
	
}
.black-bg ul li{
	float:left;
	border-right:1px solid #fff;
	padding:0 10px;
	margin:7px 0;
}
.black-bg ul li:last-child{
	border:none;
}
.black-bg ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
}
/*************** Black Bg Close ******************/
/*************** Header Open ******************/
header{
	padding-top:25px;
	background:url(../img/header-bg.jpg) repeat;
}
.header-up{
	background:url(../img/head-up-bg2.png) center bottom no-repeat;
	padding-bottom:25px;
}
.free{
	text-align:right;
	background:url(../img/border-1.png) top right no-repeat;
	padding-top:10px;
}
.free p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
	color:#1c1c1c;
}
.free h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	line-height:normal;
	font-weight:bold;
	font-style:italic;
	color:#042b5b;
	margin-top:10px;
	padding-right: 47px;
}
.free h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	line-height:normal;
	font-weight:normal;
	font-style:italic;
	color:#042b5b;
	padding-right: 38px;
}
.free ul{
	margin-top:10px;
	margin-right:45px;
}
.free ul li{
	float:left;
	padding:0 10px;
	border-right:1px solid #000;
}
.free ul li:last-child{
	border:none;
}
.free ul li a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	line-height:normal;
	font-weight:normal;
	color:#6e0d11;
}

.header-down ul{
}
.header-down ul li{
	float:left;
	padding:15px 34px;
	background: rgb(237,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  rgba(237,237,237,1) 0%, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 33%, rgba(244,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(0%,rgba(237,237,237,1)), color-stop(33%,rgba(237,237,237,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 0%,rgba(237,237,237,1) 33%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 0%,rgba(237,237,237,1) 33%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 0%,rgba(237,237,237,1) 33%,rgba(244,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(237,237,237,1) 0%,rgba(237,237,237,1) 0%,rgba(237,237,237,1) 33%,rgba(244,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-8 */

}
.header-down ul li:last-child{
	padding-right:0;
}
.header-down ul li a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
	color:#585858;
}
/*************** Header Close ******************/
/*************** Banner Open ******************/
.banner{
	background:url(../img/banner.jpg) center top no-repeat;
	padding-top:55px;
	min-height:306px;
}
.banner-in{
	width:295px;
}
.banner-inner{
	margin:0 auto;
	text-align:center;
}
.banner h4{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	padding-bottom:10px;
}
.banner h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:54px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	padding-bottom:10px;
}
.banner p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	padding-bottom:30px;
}
.banner a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	font-style:italic;
	background:#042b5b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:7px 30px;
	display:block;
	text-align:center;
	width:48px;
}
/*************** Banner Close ******************/
/*************** Body-Upper Open ******************/
.body-upper{
	padding-top:27px;
	background:url(../img/body-up-bg.jpg) repeat;
}
.body-upper h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:43px;
	line-height:normal;
	font-weight:normal;
	color:#777777;
	background:url(../img/middle-border.png) center bottom no-repeat;
	padding-bottom:20px;
	margin-bottom:35px;
}
.resource-center{
	padding:0 20px;
}
.resource{
	background:url(../img/resource-bg.jpg) repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.resource p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	font-style:italic;
	text-align:center;
	padding:13px 0;
	
}
.resource-con{
	background:url(../img/resource-shadow.png) left top #fff no-repeat;
	border-top:1px solid #fff;
	padding:20px 30px 30px 30px;
}
.resource-con ul{
}
.resource-con ul li{
	background:url(../img/right.png) center left no-repeat;
	padding-left:20px;
}
.resource-con ul li a, .resource-con p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:normal;
	color:#7e7a7a;
}
.drop-shadow{
	background:url(../img/drop-shadow.png) center top no-repeat;
	position:relative;
	height:40px;
}
.drop-shadow a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:normal;
	font-weight:normal;
	font-style:italic;
	color:#fff;
	text-align:center;
	background:#6e0d11;
	padding:5px 15px;
	display:block;
	width:50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:absolute;
	bottom:25px;
	left:92px;
}
/*************** Body-Upper Close ******************/
/*************** Body-Lower Open ******************/
.body-low-bg{
	background:url(../img/body-low-bg.jpg) repeat;
}
.body-drop{
	background:url(../img/body-drop.png) center top no-repeat;
	border-top:1px solid #efefef;
	padding-top:55px;
}
.body-low-bg h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:25px;
	line-height:normal;
	font-weight:normal;
	padding-bottom:20px;
	color:#042b5b;
}
.body-low-bg h3 img{
	margin-right:10px;
}
.body-low-bg p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:normal;
	padding-bottom:10px;
	color:#7a7a7a;
}
.body-low-bg p a{
	font-weight:bold;
	color:#042b5b;
}
a.more{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#fff;
	font-style:italic;
	background:#6e0d11;
	padding:7px 20px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.divider{
	background:url(../img/divider.png) repeat-x;
	height:2px;
	margin:20px 0;
}
ul.country{
}
ul.country li{
	float:left;
	width:143px;
	padding:7px 0;
	background:url(../img/divider.png) left bottom repeat-x;
	margin-right:10px;
}
ul.country li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:normal;
	color:#787676;
}


.video-bg, .contact-bg, .blog-bg, .free-consulation, .search, .testimonials, .recent-articles{
	background:#fefefe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	margin-bottom:10px;
}
.video, .contact, .blog, .consulation, .search-in, .testimonials-in, .articles{
	border:1px solid #f2f2f2;
	padding:10px;
}
.video h3, .contact h3, .blog h3, .consulation h3, .search-in h3, .testimonials-in h3, .articles h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#6f6b6b;
	font-style:italic;
	border-bottom:1px solid #e8e8e8;
	padding-bottom:3px;
	margin-bottom:10px;
}
.contact-bg input[type="text"], .contact-bg input[type="tel"], .contact-bg input[type="email"], .consulation input[type="text"], .consulation input[type="tel"], .consulation input[type="email"]{
	width:250px;
	height:25px;
	padding:0 0 0 10px;
	border:1px solid #dedede;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#969696;
	margin-bottom:5px;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.search-in input[type="text"]{
	width:205px;
	height:25px;
	padding:0 0 0 10px;
	border:1px solid #dedede;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#969696;
	margin-bottom:5px;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}
button.go{
	background:#042b5b;
	color:#fff;
	margin-left:10px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	text-shadow:0 !important;
	border:none;
}
button.go:hover{
	background:#042b5b;
	color:#fff;
}
.contact-bg textarea, .consulation textarea{
	width: 250px;
	height:70px;
	border:1px solid #dedede;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#969696;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.contact-bg input[type='submit'], .consulation input[type='submit']{
	width: 100px ;
	background: #042b5b;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 7px 15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:normal;
	font-weight:normal;
	color:#fff;
	border: none;
	font-style:italic;
}
.code-number{
	float:left !important;
}
.code-number img{
	display:block;
	margin-bottom:10px;
}
input.code{
	width:87px !important;
}



.blog p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:normal;
	font-weight:normal;
	color:#969696;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom:18px;
	padding-top:12px;
}
.blog p:last-child{
	border-bottom:none;
}
/*************** Body-Lower Close ******************/
/*************** Footer Open ******************/
footer{
	background:url(../img/footer-bg.jpg) repeat;
	padding-top:25px;
	padding-bottom:75px;
}
footer h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
	color:#c9c6c6;
	font-style:italic;
	padding-bottom:5px;
}
footer h4{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	line-height:normal;
	font-weight:normal;
	color:#f4f4f4;
	font-style:italic;
	padding-bottom:5px;
	padding-top:15px;
}
footer ul{
}
footer ul li{
	float:left;
	padding-right:7px;
}
footer ul li a{
}
footer ul li p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#f4f4f4;
}
a.clikhere{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	color:#f4f4f4;
	font-style:italic;
	background:#414141;
	padding:8px 15px;
	display:block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.click{
}
ul.click li{
	float:left;
	padding:10px 10px;
}
ul.click li:first-child{
	padding-left:0;
}
ul.click li a{
}
footer h5{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	line-height:normal;
	font-weight:normal;
	font-style:italic;
	color:#c9c6c6;
	padding-top:15px;
}
.con-information{
	background:#a09a9a;
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.con-information-in{
	border:1px solid #a7a2a2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px 50px 10px 20px;
}
.con-information-in h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:normal;
	font-weight:normal;
	color:#f4f4f4;
	font-style:italic;
}
.con-information-in p, .con-information-in a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:normal;
	font-weight:normal;
	color:#f4f4f4;
	padding-bottom:10px;
}
.footer-divider{
	background: url(../img/footer-divider.png) repeat-x;
	height: 2px;
	width:232px;
}
/*************** Footer Close ******************/

/*************** Inner Open ******************/
/* tab */
.tabs{
	margin-bottom:40px;
	margin-right:5px;
}
.tabs > ul{
	margin:0;
	padding:0;
}
.tabs > ul > li{
	float:left;
	display:block;
	background: rgb(224,223,223); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(224,223,223,1) 0%, rgba(237,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,223,223,1)), color-stop(100%,rgba(237,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,223,223,1) 0%,rgba(237,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,223,223,1) 0%,rgba(237,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,223,223,1) 0%,rgba(237,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,223,223,1) 0%,rgba(237,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dfdf', endColorstr='#edecec',GradientType=0 ); /* IE6-8 */
	border-right:1px solid #d4d3d3;
	padding:15px 26px;
}
.tabs > ul > li:last-child{
	border:none;
}
.tabs > ul > li > a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	color:#4b4b4b;
	text-decoration:none;
}
ul.ui-tabs-nav li.ui-tabs-active a{
	color:#fff;
}
ul.ui-tabs-nav li.ui-tabs-active{
	background: rgb(130,129,129); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyODE4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMWIwYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(130,129,129,1) 0%, rgba(177,176,176,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,129,129,1)), color-stop(100%,rgba(177,176,176,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(130,129,129,1) 0%,rgba(177,176,176,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(130,129,129,1) 0%,rgba(177,176,176,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(130,129,129,1) 0%,rgba(177,176,176,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(130,129,129,1) 0%,rgba(177,176,176,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828181', endColorstr='#b1b0b0',GradientType=0 ); /* IE6-8 */
	border-right:1px solid #d4d3d3;
}
.tab-inner{
	background:#fff;
	padding:35px 50px;
}
.tab-inner h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	color:#042b5b;
	margin:0 0 10px 0;
}
.tab-inner img{
	border-bottom:1px solid #fff;
}
.tab-inner p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	line-height:20px;
	color:#7a7a7a;
}
/* Tab Colse */

.eminent, .project{
	background: url(../img/resource-bg.jpg) repeat;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.eminent p, .project p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	color: #fff;
	font-style: italic;
	text-align: center;
	padding: 13px 0;
}
.eminent-con{
	background: url(../img/resource-shadow.png) left top #fff no-repeat;
	border-top: 1px solid #fff;
	padding: 30px 20px 15px 20px;
}
.eminent-con ul{
}
.eminent-con ul li p, .mn-projects ul li p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	color:#948e8e;
	width:195px;
	float:left;
	padding-bottom:0;
}
.eminent-con ul li{
	border-bottom: 1px dotted #d6d6d6;
	padding:10px 0;
}
.eminent-con ul li:last-child{
	border:none;
}
.eminent-con ul li p a{
	font-style:italic;
	color:#042b5b;
}
.mn-projects img{
	float:left;
	border:3px solid #cfcece;
	margin-right:10px;
}
.mn-projects{
	background: url(../img/resource-shadow.png) left top #fff no-repeat;
	padding: 30px 0 15px 0;
}
.mn-projects ul li{
	border:none;
	background:#f7f7f7;
	margin-bottom:6px;
	padding:12px 20px;
}
a.small-info{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: normal;
	font-weight: normal;
	font-style: italic;
	color: #fff;
	text-align: center;
	background: #6e0d11;
	padding: 4px 5px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	width:45px;
	margin-left:10px;
}
.testimonials-con{
	background:url(../img/testi-bg.jpg) center top no-repeat;
	padding:15px 20px 0 20px;
	border-bottom:1px dotted #d6d6d6;
	margin-bottom:15px;
}
.testimonials-con p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	line-height:normal;
	color:#969696;
}
a.read{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: normal;
	font-weight: normal;
	font-style: italic;
	color: #fff;
	background: #6e0d11;
	padding: 4px 13px;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.articles ul{
}
.articles ul li{
	border-bottom: 1px dotted #d6d6d6;
	background:none;
	padding:11px 0;
}
.articles ul li:last-child{
	border:none;
}
.articles ul li p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	line-height:normal;
	color:#969696;
	background:url(../img/word-icon.png) no-repeat;
	padding-left:20px;
	vertical-align:super;
	padding-bottom:0 !important;
}

/*************** Inner Close ******************/